src/shaders
src/ipfs-cache
src/ar-cache
src/frag-cache
src/entity-cache
src/tmp
src/.gltf-model.glb
src/live-chain-binary
src/live-chain-env-binary
src/live-chain-eth-id
chainblocks*.log
src/immutable.tmp.edn
.vscode/launch.json
src/mutable.tmp.edn
