; script self-host web version

(def prefix "/src/web/")

(defnode Root)

(defloop handler ; must be loop!
  (Http.Read) = .request
  (Take "target") (Log)
  (Match ["/"
          (-> (str prefix "index.html") (Log) (Http.SendFile))
          "/cbl.js"
          (-> (str prefix "cbl.js") (Log) (Http.SendFile))
          "/standalone.js"
          (-> (str prefix "standalone.js") (Log) (Http.SendFile))
          nil ; anything else is invalid
          (-> (Log "Invalid") "Invalid request" (Http.Response 500))]))

(defloop main
  (Http.Server handler))

(schedule Root main)
(run Root 0.1)