; parameters
(def template-hash (slurp "../src/tmp/live-chain-eth-id"))
(def token-name "Rez Entity Test")
(def token-symbol "RTEST")
(def unique true)
(def can-update true)
(def uint96-max "0xffffffffffffffffffffffffffffffffffffffff") ; mint tokens forever
(def _10_000 "0xA") ; mint 10 tokens
(def max-supply _10_000)
(def private-key-base "MY PRIVATE KEY GENERATION FAILURE")

; contracts are deterministic so should be:
; Entity: 0x153D778F3Bdae819309385D4d9D64e29E4e9ae47
; Vault: 0x15fc43067f7370d3d9e0c09D4C74DA37af8566ae

; contracts abis
(def template-abi (slurp "../src/Fragment.json"))
(def entity-abi (slurp "../src/Entity.json"))

(defn metamask-call [dest call]
  (->
   (str "await ethereum.request({method: 'eth_sendTransaction', params: [{from: ethereum.selectedAddress, to: \"" dest "\", data: \"") (PrependTo call)
   "\"}]})" (AppendTo call) call))

(defchain rezzer
  template-hash (FromBase58) = .templateHash
  max-supply (BigInt) (BigInt.ToBytes) = .maxSupply
  [.templateHash token-name token-symbol unique can-update .maxSupply]
  (Eth.EncodeCall template-abi "rez")
  (ToHex) >= .call
  (metamask-call "0xC0DE7DD77E69d25A53fE05F8d3fe772654c29162" .call)
  (Log "Call Input"))

(defchain delegate
  private-key-base (Hash.Keccak-256) (| (ToHex) (Log "Private key"))
  (ECDSA.PublicKey)
  (Slice :From 1)
  (Hash.Keccak-256)
  (Slice :From 12)
  (ToHex)
  (Log "Eth Address") = .delegate
  [.delegate]
  (Eth.EncodeCall entity-abi "setDelegate")
  (ToHex) >= .call
  (metamask-call "0x153D778F3Bdae819309385D4d9D64e29E4e9ae47" .call)
  (Log "Call Input"))

(defchain enable-public
  0.01 (BigInt.FromFloat 18) (| (BigInt.ToString) (Log)) (BigInt.ToBytes) = .eth-price
  10 (BigInt) (BigInt.ToBytes) = .amount
  [.eth-price .amount .amount]
  (Eth.EncodeCall entity-abi "setPublicSale")
  (ToHex) >= .call
  (metamask-call "0x153D778F3Bdae819309385D4d9D64e29E4e9ae47" .call)
  (Log "Call Input"))

(defnode main)
(schedule main rezzer)
(schedule main delegate)
(schedule main enable-public)
(run main)