; script self-host web version

; need those for multi-threading wasm
;; (def headers {"Cross-Origin-Opener-Policy" "same-origin"
;;               "Cross-Origin-Embedder-Policy" "require-corp"})

(def headers {})

(defnode Root)

(defloop handler ; must be loop!
  (Http.Read) = .request
  ; extremely simple - don't use it in production
  (Take "target") >= .target
  
  (Regex.Search #"(.*)\?") = .matches
  (Count .matches) (When (Is 2) (-> .matches (Take 1) > .target))

  .target (Log "target")
  (Match ["/" (-> "/index.html" (Http.SendFile headers))
          nil (-> .target (Http.SendFile headers))]))

(defloop main
  (Http.Server handler))

(schedule Root main)
(run Root 0.1)